/* top carousel style */
.top_carousel {
    height: calc(100vh - 64px) !important;
}

.top_carousel a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_carousel a img {
    width: unset;
    min-width: 100% !important;
    min-height: 100% !important;
}


/* social items style */

.social_items_icon a {
    transition: all .2s ease-in;
}

.social_items_icon a:hover {
    text-shadow: 0 0 8px black;
    transform: scale(1.1);
    color: #e1bee7 !important;
}

.video_items .simple_item{
    height: auto !important;
}
